[submodule "whisper"]
	path = whisper
	url = https://github.com/openai/whisper.git
[submodule "candle"]
	path = candle
	url = https://github.com/jnnnnn/candle.git
[submodule "earshot"]
	path = earshot
	url = https://github.com/pykeio/earshot.git
